MONGODB_URI=mongodb+srv://kapurvarish75_db_user:hx4Sqthd3LVqtaWP@cluster0.eyumwe8.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=
REDDIT_USER_AGENT=FanLens/1.0
ANTHROPIC_API_KEY=
PERSPECTIVE_API_KEY=
